#Program for registration system
import re

def register():
    db = open("database.txt", "r")
    Username = input("create username (make sure its in this format ___@xmail.com: ")
    d = []
    for line in db:
        x = line.split(".")
        d.append(x[0])

    if Username in d:
        print("Username already exists")
        register()
    elif Username.count('@') != 1 and Username.count(".") != 1:
        print("error: Enter user name in the given format")
        register()

    elif ((Username.index('@')) - (Username.index(".")))== 1:
        print("error: Enter user name in the given format")
        register()

    elif Username[0] in range(0 , 9):
        print("You cannot start with a Number or Special Character")
        register()

    elif Username[0] == re.compile('[@_!#$%^&*()<>?/\|}{~:]'):
        print("You cannot start with a Special character")
        register()

    else:
        print("Username created")

    Password = input("your password must between 5- 16 characters "
                     "contain atleast one Capital letter, numerical value and a special character:")
    s = False

    if len(Password) < 5 and len(Password) >16:
        print("Create Password with length between 5 an 16, Try Again")
        register()

    if len(Password) < 5 and len(Password) <16:
        z,x,c,v = 0,0,0,0,

        for i in Password:
            if i.isdigit():
                v += 1
            if i.islower():
                z += 1
            if i.isupper():
                x += 1
            if i == re.compile('[@_!#$%^&*()<>?/\|}{~:]'):
                c += 1
            if ( z >=1 and x >=1 and c>=1 and v >=1 and z+x+c+v == len(Password)):
                s = True

    if s:
        Password1 = input("Confirm Password: " )
        while ( Password != Password1):
              print("Paswords do not match")
              Password1 = input("Try again: ")

    else:
        print("Try again")
        register()

    file = open("database.txt","a")
    file.write("Username" + "," + "Password" + "\n")
    file.close()
    login()

def login():
      X = input("Enter your Username")
      X = X.strip()
      db = open("database.txt", "r")
      d = []
      for line in db:
           x = line.split(",")
           d.append(x[0])

      if X in d:
          Y = input("Please Enter your password: ")
          Y = Y.strip()
          file1 = open("database.txt.txt", "r").readlines()
          for x in file1:
              x = x.strip()
              info = x.split(",")
              if X == info[0] and Y == info[1]:
                  print("Welcome in the digital world")
              else:
                  F = input("Forgot Password [Y/N] : ")

                  if F == "N":
                      print("try")
                      login()

                  if F == "Y":
                      b = input(
                          "Create your new password with atleast one capital letter one integer and one special character: ")
                      s = False

                      if len(b) < 5 and len(b) > 16:
                          print("Create Password with length between 5 an 16, Try Again")
                          register()

                      if len(b) > 5 and len(b) < 16:
                          l, u, p, d = 0, 0, 0, 0
                          for i in b:
                              if i.isdigit():
                                  d += 1
                              if i.islower():
                                  l += 1
                              if i.isupper():
                                  u += 1
                              if (
                                      i == '@' or i == '$' or i == '_' or i == '%' or i == '!' or i == '#' or i == '*' or i == '&'):
                                  p += 1
                              if (l >= 1 and u >= 1 and p >= 1 and d >= 1 and l + p + u + d == len(b)):
                                  s = True

                      if s:
                          c = input("Confirm Password: ")
                          while (c != b):
                              print("Password not match, Try Again")
                              c = input("Try Again: ")

                      else:
                          print("Sorry,Try again to login")
                          login()

                      file = open("database.txt", "w")
                      file.write(X + "," + b + "\n")
                      file.close()


      else:
          print("Unregister user you need to register first")
          register()


def welcome():
    print("WELCOME to our page")
    print("For accessing you need to login and if new user than you need to register")
    W = input("Login|Register[L/R]: ")
    if W == "L":
        login()
    elif W == "R":
        register()
    else:
        print("Enter in proper manner only please")
        welcome()


welcome()
